body {
  font-family: system-ui;
  background: black;
  color: white;
}

h1{
  font-family: Times New Roman;
  text-align: center;
  color: white;
}

h2{
  text-align: center;
  color: yellow;
}

table, th, td{
  width: 100%;
  border: 3px solid white;
  border-collapse: collapse;
}

th{
  color: purple;
}

td{
  color: pink;
}
img{
  width: 100%;
}
button{
  padding: 6px 8px;
  color: black;
  background-color:pink;
  border: 3px solid white;
}
input[type=submit]{
  background-color:pink;
  border: 3px solid white;
  color: black;
  padding: 6px 9px;
  text-decoration: none;
}
input[type=text]:focus {
  border: 3px solid purple;
}
input[type=text] {
  width: 50%;
  padding: 5px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid pink;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  outline: none;
}